* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none !important;
}
body {
  background-image: url(../imagenes/ladrillo.jpg) !important;
  color: White;
  font-weight: lighter;
  
  
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  height: auto;
  width: 100%;
  overflow: hidden;
}
nav {
  background-color: rgb(24, 24, 24) !important;
}

.contadorNav {
  background-color: #940a21;
  width: 50px;
  height: 30px;
  margin: 20px;

}
/*display de botones */
.contadorNavDisplay {
  display: none;
}
.btnComprarDisplay {
  display: none;
}
.btnVaciarDisplay {
  display: none;
}

.contadorNav > p {
  margin-top: 20px;
  vertical-align: middle;
  font-weight: lighter;
  font-style: italic;
  font-size: 14px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: brown !important;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
}
a {
  color: rgb(255, 255, 255) !important;
  text-align: center;
}

.carritoImg {
  margin: 2px;
  width: 50px;
  height: 50px;
}
.logoHeader {
  width: 80px;
  vertical-align: middle;
}
.banner {
  margin-top: -50px;
  border-radius: 50px;
  padding: 20px;
  margin-bottom: 50px;
}
.verticalBanner {
  border-radius: 50px;
  padding: 20px;
  margin-bottom: 50px;
}
.carritoCompra {
  color: rgb(5, 5, 5) !important;
  background-color: cyan;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255, 0.25);
  padding: 10px;
  font-weight: lighter;
  font-style: italic;
  font-size: 18px;
}
.titulos {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  margin-bottom: 50px;
}

.panelEstilos {
  align-items: center;
  justify-content: center;
}
.panelEstilos,
.panelHome,
.panelCarrito {
  margin-top: 20px;
}
.estilosMuebles {
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 100%;
  margin-bottom: 100px;
}
.row {
  margin-left: 0 !important;
}

.losEstilos {
  background-color: rgba(0, 0, 0, 0.918) !important;

  align-items: center;
  text-align: center;
  margin: 10px;
  color: black;
  font-size: 20px;
  font-weight: lighter;
  font-style: italic;
}
.losEstilos img {
  width: 100%;
  margin: 10px;
  padding: 10px;
  opacity: 80%;
  
}

#formConsulta {
  font-family: 'Courier New', Courier, monospace;
  margin-top: 15px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.932);
  padding: 5vh;
  text-align: start;
  border-radius: 50px;
}


.btnMostrar {
  align-items: center;
  
}
.gris {
  background-color: #333;
}

footer {
  background-color: #313131 !important;
  padding: 25px;
  height: 100px;
  text-align: center;
}
.navegacion-footer a {
  margin-top: 20px;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
}

/* carrito de compras */
td,
tr {
  vertical-align: middle;
}

.carrito {
  min-height: 10vh;
  max-width: 100px;
  margin: 0 auto;
  width: 100%;
  padding: 20px;
}
.totalCarrito {
  height: 50px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}
.totalCarrito > div {
  margin-top: 5px;
  margin-bottom: 5px;
  vertical-align: center;
}

.tableImgProducto > img {
  width: 3rem;
  object-fit: contain;
  border-radius: 6px;
}

.tableCantidad > input {
  width: 50px;
  padding: 3px;
  outline: 0;
  font-size: 16px;
  font-weight: lighter;
  margin-right: 10px;
  border-collapse: none;
}

/*boton agegar carrito*/
.ctaDanger {
  margin-bottom: 30px;
  width: 6em;
  height: 2em;
  font-weight: lighter;
  font-style: italic;
  font-size: 16px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  opacity: 100%;
  background-image: linear-gradient(to right, #dc3545 0%, #dc3545 98%);
}

.ctaDanger::before {
  content: "";
  width: 0;
  height: 2em;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.ctaDanger:hover::before {
  width: 6em;
}
.cta {
  margin-bottom: 30px;
  width: 6em;
  height: 2em;
  font-weight: lighter;
  font-style: italic;
  font-size: 16px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  opacity: 100%;
}

.cta::before {
  content: "";
  width: 0;
  height: 2em;
  border: 2px solid white;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: -1;
}

.cta:hover::before {
  width: 6em;
}
